body{
  background-color:burlywood;
}
ul{
list-style-type:none;
margin: 0px;
padding: 0px;
overflow: hidden;
background-color:aqua;
}
li{
float:left;
}
li a{
    display: block;
    color:black;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    font-weight: bolder;
}
li a:hover{
    background-color:red;
}