h1{
    color: white;
    }
     
    
         a{
            background-color:#C38154;
            color: white;
             text-decoration:none;
           
            
             
         }
         .menu{
            display: inline;
    margin-left:90px;
    border-right:2px solid white;
    
         }
       
    .gr{
        background-color:#C38154;
        border: none;
        height:30px;
        border-radius: 4px;
    }
    .pop{
        margin-left:500px;
    }
    
    form{
        background-color: white;
        margin:0px;
    padding-left: 200px;
    }
    body{
        background-color:#C38154;
    }
    ul{
        background-color: #C38154;
        list-style-type:none;
        color: white
    }
    .o1{
        text-align: left;
       float: left;
       padding: 60px;
    }
    .hk{
        text-align: left;
        float:left;
        padding: 60px;
    
    }
    .ef{
        float: left;
        padding: 60px;
    }
    .gh{
        float: left;
        padding: 60px;
    }
    .ij{
        float: left;
        padding: 60px;
    }
    .kk{
        border-left:white ;
    }